/* Reset */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* :root {
    --fieldMargin: 2px;
} */

html {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    height: 100vh;
    background-color: #333;
}

img {
    display: none;
}

div.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-sizing: content-box; */
    border: 20px solid transparent;
    border-image: url(images/border.png) 10 round;

}

div.board div.field {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: #444;
    cursor: pointer;
    box-sizing: border-box;
    background-size: cover;
}

div.board div.field:hover {
    border: 2px dotted #999;
}

div.board div.field p {
    font-size: 1.4rem;
    color: #888;
}

div.draw-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #444;
    font-size: 1.6rem;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

div.draw-board:hover {
    background-color: #999;
}

.hide {
    display: none;
}

footer {
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #111;
    width: 100vw;
    height: 60px;
    color: #aaa;
    justify-content: center;
}

footer i {
    font-size: 3.6rem;
    margin-right: 20px;
}

footer p {
    font-size: 1.2rem;
}

footer div.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
    height: 35px;
    width: 160px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.1s ease-in;
    margin-left: 30px;
    border-radius: 4px;
    letter-spacing: 2px;
}

footer div.button:hover {
    background-color: #aaa;
    color: #111;
    font-weight: 700;
    font-size: 1.4rem;
}

/* ===================================== */

div.game-level {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    color: #aaa;
    border: 20px solid transparent;
    border-image: url(images/border.png) 10 round;
    background-color: #595652;
    padding: 10px;
    border-radius: 20px;
}

div.game-level p {
    font-size: 3.6rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #E5E5E5;
}

div.game-level div.options {
    margin-bottom: 20px;
}

div.game-level div.options div.option {
    margin: 5px 0;
    font-size: 1.6rem;
}

div.game-level div.options div.option label {
    margin-left: 5px;
}

div.game-level div.play-button {
    position: relative;
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    background-color: #999;
    color: #555;
    transition: all 0.2s ease;
    font-size: 1.4rem;
    cursor: pointer;
}

div.game-level div.play-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.game-level div.play-button:hover {
    background-color: #E5E5E5;
    color: #333;
}

div.game-level div.play-button:hover span {
    animation: shake 0.5s 1 ease;
}

@keyframes shake {
    0% {
        left: 50%;
    }

    20% {
        left: 55%;
    }

    40% {
        left: 45%;
    }

    60% {
        left: 55%;
    }

    80% {
        left: 45%;
    }

    100% {
        left: 50%;
    }
}