/* Reset */

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* :root {} */

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    height: 100vh;
    background-color: #333;
}

div.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(5 * 50px + 5 * 2px);
    height: calc(5 * 50px + 5 * 2px);
    /* border: 2px solid fuchsia; */
}

div.board div.field {
    margin: 1px;
    float: left;
    width: 50px;
    height: 50px;
    background-color: #444;
    /* border: 2px dotted black; */
}

div.draw-board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #444;
    font-size: 1.6rem;
    border-radius: 3px;
    /* background-color: greenyellow; */
    cursor: pointer;
    transition: all 0.1s ease-in;
    /* transition: color 0.1s ease-in; */
}

div.draw-board:hover {
    background-color: #999;
    /* color: greenyellow; */
}

.hide {
    display: none;
}