* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --spinValue: 100deg;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
}

body {
    background-color: #222;
}

.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
}

.animals {
    position: relative;
    border-radius: 50%;
}

.animals .animal {
    position: absolute;
    top: 0;
    left: 0;
}

.animals .animal.one {
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.animals .animal.two {
    top: 50%;
    left: 88%;
    transform: translateY(-50%);
}

.animals .animal.three {
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
}

.animals .animal.four {
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

i.fas {
    font-size: 2.8rem;
    font-weight: 700;
    color: #444;
    transition: 0.2s ease;
}

i.active {
    font-size: 3rem;
    color: whitesmoke;
}

.wheel {
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background-color: #777;
    margin: 50px;
}

.wheel .hand {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.wheel.on {
    animation: spin 3s 0.1s 1 ease forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    90% {
        transform: rotate(var(--spinValue));
    }

    100% {
        transform: rotate(var(--spinValue));
    }
}

@keyframes borderGrow {}

.red,
.green {
    height: inherit;
    width: inherit;
    position: absolute;
    top: -50%;
    border-radius: 100px 100px 0 0;
    transform-origin: 50% 100%;
}

.red {
    background-color: royalblue;
    transform: rotate(0deg);
}

.green {
    background-color: gray;
    transform: rotate(180deg);
}

.spin {
    padding: 10px 0;
    margin: 20px 0;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.disabled {
    pointer-events: none;
    background-color: #444;
}

.checkBtn {
    position: absolute;
    cursor: pointer;
    top: 5%;
    left: 3%;
}

.checkBtn i {
    font-size: 4rem;
    color: #444;
    transition: all 0.3s ease;
}

#check {
    display: none;
}

ul {
    position: absolute;
    top: 14%;
    left: -100%;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#check:checked~.checkBtn i {
    color: orange;
}

#check:checked~ul {
    left: 3%;
}

ul li {
    margin: 5px 0;
    text-align: left;
    font-size: 1.4rem;
    padding: 10px 80px;
    background-color: #666;
    border-radius: 5px;
}