* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root {
    --mainBackgroundColor: #333;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    height: 100vh;
    background-color: var(--mainBackgroundColor);
}

div.board {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.normal {
    border: 6px solid #444;
}

/* JS */
.warning {
    border-color: orange;
}

/* JS */
.alert {
    border-color: rgb(255, 71, 82);
}

div.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transition: all 0.2s ease; */
    border: 3px dotted #222;
    box-sizing: border-box;

}

div.player span.name {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 4px;
    color: greenyellow;
    font-weight: 700;
    letter-spacing: 1px;
}

div.player div.hpBar {
    width: 50px;
    height: 5px;
    background-color: greenyellow;
    margin-bottom: 10px;
}

div.player div.body {
    width: 50px;
    height: 50px;
    background-color: #666;
    /* border: 2px solid tomato; */
    /* border-radius: 10%; */
}