* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* clearfix::after {
    content: "";
    display: block;
    clear: both;
} */

.square {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    width: 100px;
    height: 100px;
    background-color: #333;

}