* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --moveBirdStart: 50px;
    --moveBirdEnd: 400px;
}

html {
    font-size: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #444;
    cursor: move;
}

div.crosshair {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px solid red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

div.crosshair div.axisX,
div.crosshair div.axisY {
    position: absolute;
    background-color: red;
}

div.crosshair div.axisX {
    width: 2px;
    height: 140%;
}

div.crosshair div.axisX {
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

div.crosshair div.axisY {
    width: 140%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    left: -20%;
}

div.shotDots {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

div.shotDot {
    width: 10px;
    height: 10px;
    background-color: #222;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 15px 5px #222;
}

div.shotDot div.posLabel {
    border: 1px solid red;
    position: absolute;
    top: -25px;
    left: 10px;
}

div.shotDot div.posLabel p {
    color: whitesmoke;
    font-weight: 700;
    display: flex;
}

div.shotDot div.posLabel p span {
    margin: 2px;
}

div.birds {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

div.birds div.bird {
    position: absolute;
    left: calc(100% + 182px);
    background-image: url(./images/bird.png);
    width: 182px;
    height: 117px;
    /* background-color: #999; */
    animation: fly 0.25s infinite steps(4),
        moveRightToLeft 2s infinite linear;
}

@keyframes fly {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -728px 0;
    }
}

@keyframes moveRightToLeft {

    0% {
        top: var(--moveBirdStart);
        left: calc(100% + 182px);
    }

    100% {
        top: var(--moveBirdEnd);
        left: -182px;
    }
}

/* @keyframes moveLeftToRight {

    0% {
        left: -182px;
    }

    100% {
        left: calc(100% + 182px);
    }
} */