* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
}

body {
    background-color: #333;
    height: 100vh;
    overflow: hidden;
}

/* -------- */
/* -------- */

div.square {
    position: absolute;
    /* width: 50px;
    height: 50px; */
    background-color: red;
    /* top: 50%;
    left: 50%; */
    transform: translate(-50%, -50%);
    /* transition: 1s linear; */
}

div.square p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
}