* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'consolas', sans-serif;
    font-size: 10px;
}

body {
    background-color: #222;
    color: whitesmoke;
}

.clock {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock>div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.clock div p {
    align-self: center;
    font-size: 2.2rem;
    background-color: springgreen;
    color: #222;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
}

.clock div span{
    font-size: 8rem;
    margin: 0 10px;
}

.dots {
    display: flex;
    width: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #777;
    margin: 1px;
}

