* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

:root {
    --white: #fff;
    /* var(--white) */
}

/* ================================================= */

/* ================================================= */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 900px;
    margin: 0 20px;
}

/* ================================================= */

/* ================================================= */

.top {
    display: flex;
    margin-bottom: 20px;
}

.top h1 {
    text-transform: uppercase;

}

/* ================================================= */

/* ================================================= */

.bottom {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    margin-right: 20px;
    padding: 10px;
    background-color: #666;
    border-radius: 5px;
}

.left label {
    display: block;
    font-size: 1.6rem;
}

.left input {
    padding: 5px;
    font-size: 1.6rem;
}

.left .alert {
    font-size: 1.2rem;
    color: rgb(255, 71, 82);
}

/* JS */
.left .hide {
    display: none;
}

.numbers {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 10px;
    flex-grow: 1;
}

.numbers button {
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #333;
    color: #bbb;
    font-size: 1.8rem;
    font-weight: 700;
    border: none;
    transition: 0.1s ease-in;

}

.numbers button:hover {
    background-color: rgb(45, 204, 112);
    color: #333;
}

#searchBtn {
    padding: 10px 0;
    border-radius: 5px;
}

.right {
    overflow: hidden;
    min-width: 500px;
    background-color: #666;
    border-radius: 5px;
}

.right .images {
    display: flex;
    flex-basis: 60%;
    transition: 0.3s ease;
}

.right img {
    margin: 10px;
    filter: grayscale(70%) opacity(10%);
    transition: 0.2s ease;
}

.right img.activeImg {
    filter: grayscale(0%) opacity(100%);
}

.right .galleryButtons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 20px;
}

.right .hide {
    display: none;
}

.right .galleryButtons .line {
    display: flex;
    position: relative;
    align-items: center;
    width: 80%;
    background-color: #444;
    height: 40px;
    align-self: center;
    z-index: 0;
}

.right .galleryButtons .line .loadBar {
    content: "";
    position: absolute;
    height: 100%;
    background-color: rgb(45, 204, 112);
    z-index: -1;
    animation: loadBar 10s linear infinite;
}

@keyframes loadBar {
    0% {
        width: 0;
    }

    3% {
        width: 0;
    }

    97% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

.right .galleryButtons .line p {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
}

.right .galleryButtons .line p .animeTitle a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}

.right .galleryButtons button {
    background-color: transparent;
    border: none;
}

.right .galleryButtons button .fas {
    color: whitesmoke;
    font-size: 4rem;
}

.right .galleryButtons button:nth-of-type(2) .fas {
    transform: rotate(180deg);
}