* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --navHeight: 100px;
    /* var(--white) */
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

body {
    min-height: 200vh;
}

.outer-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s ease;
}

.promo {
    color: rgb(69, 73, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(254, 177, 35);
    border-bottom: 4px solid rgb(229, 124, 50);
}

.promo p {
    font-size: 1.4rem;
}

.promo p .bold {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
}

.promo p .timer {
    background-color: rgb(255, 71, 82);
    padding: 7px 20px;
    border-radius: 5px;
}

.hide {
    display: none;
}

header {
    display: flex;
    background-color: #ccc;
    height: var(--navHeight);
}

header .logo,
header .contact,
header .settings {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    background-color: #666;
}

header .logo {
    width: 15vw;
}

header .logo a,
header .contact a,
header .settings a {
    text-align: center;
    width: 100%;
    height: var(--navHeight);
    line-height: var(--navHeight);
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.8rem;
}

header .contact a:hover,
header .settings a:hover {
    background-color: #ccc;
}

nav {
    display: flex;
    align-items: center;
    background-color: #888;
    padding: 0 2vw;
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-grow: 1;
    list-style: none;
    justify-content: center;

}

nav ul li a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.8rem;
    background-color: #555;
    padding: 10px 4vw;
    border-radius: 5px;
    margin: 3px;
    transition: 0.2s ease;
}

nav ul li a:hover {
    background-color: #ccc;
    color: rgb(69, 73, 63);
    /* font-weight: 700; */
}


/* ==================================== */

/* ==================================== */

.header-hero {
    /* margin-top: 140px; */
    height: 50vh;
    background-color: #333;
}