* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/* clearfix::after {
    content: "";
    display: block;
    clear: both;
} */

body {
    background-color: #333;
}

.square {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(241, 152, 35);
}